/* $primary: rebeccapurple;
$danger: #dd0000;
$success: lime;
$warning: orange;
$info: aqua; */
$secondary: #414141;
$success: #9ef029;
$dark: rgb(8, 8, 8);
$info: #005250;
$body-bg: #f5f5f500;

@import "bootstrap";

/* p {
    font-family: "Arial", sans-serif;
    font-weight: bold;
  } */

.underline {
  background-size: 1px 1em;
  box-shadow: inset 0 -0.175em #005250, inset 0 -0.2em #000;
  padding: 20px;
}

.colorVerde {
  color: #9ef029 !important;
  text-align: left;
}

html {
  font-size: 13px;
  background: black;
  overflow-x: hidden;
  background-image: url("./assets/img/All/main-back-1.png") !important;
  background-position: 0% 100%;
  background-repeat: no-repeat;
}

body {
  background-image: url("./assets/img/All/2.png") !important;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(65,65,65, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(65, 65, 65);
}

.stripe {
  height: 12px;
  margin: 0 0 1rem 0;
}
.stripe-1 {
  background: linear-gradient(to right, #00b3ff, #00b3ff 0%, #9cef2b 100%, #9cef2b);
}
.stripe-2 {
  height: 6px;
  background: #005250;
}

.gradeintBlack {
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(115, 115, 115, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  background: none;
  border-image-source: linear-gradient(to left, #9cef2b, #00b3ff);
}

.border-top {
  border-top: 14px solid #005250 !important;
}

/* .App {
  background: black;
} */

.modal-content {
  background: black;
  border: 4px solid rgb(0 82 80);
}

.card {
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0px;
}
.modal-body {
  padding-bottom: 0px;
}
.modal-title {
  width: 100%;
}

.modal-header {
  border-bottom: 0px solid #005250;
}
.modal-footer {
  border-top: 0px solid #005250;
}

.carro {
  margin-top: 69px;
}

.italic {
  font-style: italic;
}

.buttonexapnd {
  width: 190px;
}

.mbtn {
	background-image: linear-gradient(to right, #9cef2b 0%, #00b3ff 100%);
	border-radius: 20px;
  box-sizing: border-box;
	color: #ffffff;
	display: block;
	font: 1.225rem 'Oswald', Arial, sans-serif; /*18*/
  font-weight: 600;
	height: 70px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 4px;
	position: relative;
  text-decoration: none;
	text-transform: uppercase;
	width: -webkit-fill-available;
  max-width: 200px;
	z-index: 2;
  text-align: center;
  margin: 10px;
}

.mbtn:hover {
	color: #fff;
}

.mbtn span {
	align-items: center;
	background: #181818;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}

.weight{
  font-weight: 600;
}

.mbtn:hover span {
	background: transparent;
}
.a-r {
  animation: myAnimr 1s ease 0s 1 normal forwards;
}
.a-r-2 {
  animation: myAnimr 2s ease 0s 1 normal forwards;
}

.a-l {
  animation: myAniml 1s ease 0s 1 normal forwards;
}
.a-l-2 {
  animation: myAniml 2s ease 0s 1 normal forwards;
}

.a-b {
  animation: myAnimb 1s ease 0s 1 normal forwards;
}
.a-b-2 {
  animation: myAnimb 2s ease 0s 1 normal forwards;
}

.a-t {
  animation: myAnimt 1s ease 0s 1 normal forwards;
}
.a-t-2 {
  animation: myAnimt 2s ease 0s 1 normal forwards;
}

@keyframes myAnimr {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes myAniml {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes myAnimb {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes myAnimt {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}